<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Dynamic Table</h4>
                <p class="card-category">This section is visualization of the predefined queries. </p>
                <p class="card-category">Latest query:</p>
                <p class="card-category"> {{ latestQuery }}</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <ng-container *ngFor="let header of tableHeaders">
                            <th>
                                {{ header }}
                            </th>
                        </ng-container>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of tableValues; let i = index">
                            <td *ngFor="let col of row">
                                {{ col }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Predefined Queries</h4>
                <p class="card-category">This section is about predefined queries and their works</p>
            </div>
            <div class="card-body">
                <div class="row grid justify-content-around mb-4">
                    <p>This query is predefined and does the following:</p>
                    <p>Returns people older than 50 years and works in merchant type ships</p>
                    <button class="btn btn-success" type="button" (click)="onClickIntersect()" >Intersect</button>
                </div>
                <div class="row grid justify-content-around mb-4">
                    <p>This query is predefined and does the following:</p>
                    <p>Returns people younger than 30 years old OR has private ship</p>
                    <button class="btn btn-success" type="button" (click)="onClickUnion()"  >Union</button>
                </div>
                <div class="row grid justify-content-around mb-4">
                    <p>This query is predefined and does the following:</p>
                    <p>Returns ships that are private but tax free</p>
                    <button class="btn btn-success" type="button" (click)="onClickExcept()" >Except</button>
                </div>
                <div class="row grid justify-content-around mb-4">
                    <p>This query is predefined and does the following:</p>
                    <p>Returns ships that has at least 2 workers</p>
                    <button class="btn btn-success" type="button" (click)="onClickHaving()">Having</button>
                </div>
                <div class="row grid justify-content-around mb-4">
                    <p>This query is predefined and does the following:</p>
                    <p>Returns the public servant count</p>
                    <button class="btn btn-success" type="button" (click)="onClickAggr()">Aggr</button>
                </div>
                <div class="row grid justify-content-around mb-4">
                    <p>This query is predefined and does the following:</p>
                    <p>Returns the private ship owners on view</p>
                    <button class="btn btn-success" type="button" (click)="onClickView()">View</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Funtion Queries</h4>
                <p class="card-category">This section is about function queries and their returns</p>
            </div>
            <div class="card-body">
                <div class="grid justify-content-around mb-4">
                   <div class="row grid justify-content-around mb-4">
                       <div class="row">
                           <p>This function is for returning the average ages of ship workers on specific type:</p>
                           <select #selectedElement  class="form-control" (change)="onChangeDropdown(selectedElement.value)">
                               <option selected value="merchant">Merchant</option>
                               <option value="private">Private</option>
                           </select>
                           <button class="btn btn-success" type="button" (click)="onClickAvgOnType()" >Submit</button>
                       </div>
                       <div *ngIf="shipTypeRequested" class="row">
                           <p class="col-12 justify-text-center"> Average age of workers on ship type {{shipType}}: {{shipTypeResult}} </p>
                       </div>
                   </div>
                    <hr>
                    <div class="row grid justify-content-around mb-4">
                        <div class="row">
                            <p>This function is for filtering ships according to user inputs :</p>
                            <input class="form-control" type="number" max="200" placeholder="Ship Length" [(ngModel)]="shipLength" >
                            <input class="form-control" type="number" max="200" placeholder="Motor Power" [(ngModel)]="motorPower" >
                            <button class="btn btn-success" type="button" (click)="onClickMotorLengthFilter()"  >Submit</button>

                        </div>
                         <div *ngIf="numOfFilteredRequested" class="row">
                            <p class="col-12 justify-text-center"> Number of filtered ships: {{numOfFilteredShips}} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row grid justify-content-around mb-4">
                        <div class="row">
                            <p>This function is for filtering workers according to licenses :</p>
                            <input class="form-control"  type="checkbox" placeholder="License Checkbox" [(ngModel)]="licenseCheckbox" >
                            <button class="btn btn-success" type="button" (click)="onClickFilterWorker()"  >Submit</button>
                        </div>
                         <div *ngIf="licenseRequested" class="row">
                            <p class="col-12 justify-text-center"> Number of {{ licenseCheckbox ? 'licensed' : 'not licensed' }} workers: {{licenseValue}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>