<div class="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Ship Table</h4>
                        <p class="card-category"> This table is result of this query:</p>
                        <p class="card-category"> {{ latestQuery }}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    License Number
                                </th>
                                <th>
                                    Length
                                </th>
                                <th>
                                    Motor Power
                                </th>
                                <th>
                                    Tax Rate
                                </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ship of shipList">
                                        <td>{{ ship.shipid }}</td>
                                        <td>{{ ship.shipname }}</td>
                                        <td>{{ ship.shiptype }}</td>
                                        <td>{{ ship.licenseplate }}</td>
                                        <td>{{ ship.shiplength }}</td>
                                        <td>{{ ship.motorpower }}</td>
                                        <td>{{ ship.taxrate }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Filter</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="input-group col-md-3">
                                    <span class="input-group-text" >ID</span>
                                    <input type="number" class="form-control" formControlName="id">
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text" >Ship Name</span>
                                    <input type="text" class="form-control"  formControlName="shipName">
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text" >Ship Type</span>
                                    <input type="text" class="form-control"  formControlName="shipType">
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text" >License Number</span>
                                    <input type="text" class="form-control" formControlName="licensePlate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-4">
                                    <span class="input-group-text" >Length</span>
                                    <input type="number" class="form-control" formControlName="length">
                                </div>
                                <div class="input-group col-md-4">
                                    <span class="input-group-text" >Motor Power</span>
                                    <input type="number" class="form-control" formControlName="motorPower">
                                </div>
                                <div class="input-group col-md-4">
                                    <span class="input-group-text" >Tax Rate</span>
                                    <input type="number" class="form-control" formControlName="taxRate">
                                </div>
                            </div>
                            <div class="row grid justify-content-end">
                                <button class="btn btn-success" type="button" (click)="onClickAdd()">Add</button>
                                <button class="btn btn-warning" type="button" (click)="onClickUpdate()">Update</button>
                                <button class="btn btn-danger" type="button" (click)="onClickDelete()">Delete</button>
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
