<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Owner Table</h4>
                        <p class="card-category"> List of all licensed ship owners</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Citizen ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Surname
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Company
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let owner of shipOwnerList ">
                                    <td>{{ owner.citizenId }}</td>
                                    <td>{{ owner.name }}</td>
                                    <td>{{ owner.surname }}</td>
                                    <td>{{ owner.age }}</td>
                                    <td>{{ owner.company }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Filter</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                            <div class="input-group col-md-4">
                                <span class="input-group-text" >CitizenId</span>
                                <textarea class="form-control"  formControlName="citizenId"></textarea>
                            </div>
                            <div class="input-group col-md-4">
                                <span class="input-group-text" >Name</span>
                                <textarea class="form-control" formControlName="name"></textarea>
                            </div>
                            <div class="input-group col-md-4">
                                <span class="input-group-text" >Surname</span>
                                <textarea class="form-control" formControlName="surname"></textarea>
                            </div>
                        </div>
                            <div class="row">
                                <div class="input-group col-md-6">
                                    <span class="input-group-text" >Age</span>
                                    <textarea class="form-control"  formControlName="age"></textarea>
                                </div>
                                <div class="input-group col-md-6">
                                    <span class="input-group-text" >Company</span>
                                    <textarea class="form-control" formControlName="company"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit" style="float: right">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
