<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Ownership Table</h4>
                        <p class="card-category"> This table is result of this query:</p>
                        <p class="card-category"> {{ latestQuery }}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ShipId
                                </th>
                                <th>
                                    CitizenID
                                </th>
                                <th>
                                    Licensed At
                                </th>
                                <th>
                                    Licensed By
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let ownership of ownershipList "
                                    (click)="onClickItem(ownership)"
                                >
                                    <td>{{ ownership.shipid }}</td>
                                    <td>{{ ownership.citizenid }}</td>
                                    <td>{{ ownership.licensedat }}</td>
                                    <td>{{ ownership.licensedby }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Filter</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="input-group col-md-3">
                                <span class="input-group-text">Ship Id</span>
                                <input type="number" class="form-control" formControlName="shipid">
                            </div>
                            <div class="input-group col-md-3">
                                <span class="input-group-text">CitizenId</span>
                                <input type="number" class="form-control" formControlName="citizenid">
                            </div>
                            <div class="input-group col-md-3">
                                <span class="input-group-text">Licensed At</span>
                                <input type="datetime-local" class="form-control" formControlName="licensedat">
                            </div>
                            <div class="input-group col-md-3">
                                <span class="input-group-text">LicensedBy</span>
                                <input type="number" class="form-control" formControlName="licensedby">
                            </div>
                        </div>
                        <div class="row grid justify-content-end">
                            <button class="btn btn-success" type="button" (click)="onClickAdd()">Add</button>
                            <button class="btn btn-warning" type="button" (click)="onClickUpdate()">Update</button>
                            <button class="btn btn-danger" type="button" (click)="onClickDelete()">Delete</button>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

